h1, h2, h3, h4, h5, h6, div, ul, li, section, header, form, body, article, footer, nav, a, p, i, input, img {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
}

h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

h6 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

body {
    max-width: 767px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', arial, sans-serif;
}

/*.loader {
    $animation-duration: 1s;
    $animation-count: 2;
    position: fixed;
    inset: 0;
    background: #FF79DA;
    opacity: 0.9;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    animation: loader 200ms $animation-duration*$animation-count forwards;

        &::after {
            content: "";
            height: 100px;
            width: 100px;
            border-right: 10px solid transparent;
            border-top: 10px solid #99E2D0;
            border-radius: 50%;
            animation: spin $animation-duration infinite ease-in-out;
            animation-iteration-count: 2;
        }
    
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes loader {
        to {
            transform: translateY(-100vh);
        }
    }
}*/

#bloc_logo {
    display: flex;
    width: 100%;
    height: 63px;
    background-color: #ffffff;
    font-family: 'Shrikhand', arial, cursive;

    h1 {
    font-weight: 400;
    line-height: 43,74px;
    font-size: 30px;
    margin: auto;
    }
}

#recherche {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.2);

    #recherche_1 {
        display: flex;

        i {
            width: 12px;
            height: 16px;
        }

        form {
            padding-left:10px;
            
            input {
                height: 19px;
                background-color: #EAEAEA;
                border: none;
                outline: none;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

#header_fin {
    background-color: #F7F7F7;
    width: 100%;
    height: 300px;

    .titre_header {
        margin-left: auto;
        margin-right: auto;
        padding-top: 39px;
        width: 60%;

        h1 {
        text-align: center;
        padding-bottom: 10px;
        }
    }

    .texte_header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        h6 {
        text-align: center;
        color: #353535;
        }
    }

    a {
        text-decoration: none;
        
        .btn_violet_gros {
            width: 220px;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 27px;
            height: 50px;
            background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            border-radius: 25px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.25);
            

            &:hover {
                box-shadow: 0 8px 20px rgba(0,0,0,0.25);
                transition: background-color 500ms;
                filter: brightness(130%);
            }

            h3 {
                text-align: center;
                color: #ffffff;
                width: 100%;
            }
        }
    }
}

#fonctionnement {
    width: 100%;
    height: 550px;

    #fonctionnement_1 {
        padding-top: 48px;
        padding-left: 20px;
        padding-bottom: 30px;
    }

    #fonctionnement_2 {
        width: 100%;
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;

        a {
            text-decoration: none;
            display: flex;
            width: 100%;
            margin-bottom: 30px;
            
            .card {
                width: 90%;
                display: flex;
                background-color: #F7F7F7;
                padding: 25px 0px 25px 0px;
                margin-right: auto;
                margin-left: auto;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba(0,0,0,0.15);

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
                    transition: background-color 500ms;
                    background-color: #F5EDFF;

                    i {
                        color: #9356DC;
                    }
                }
                
                p {
                    position: relative;
                    right: 10px;
                    background-color: #9356DC;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 14,1818px;
                    line-height: 17px;
                    padding: 5px 8px 5px 8px;
                    border-radius: 20px;
                }

                i {
                    color: #7E7E7E;
                    position: relative;
                    left: 10px;
                    padding-top: 5px;
                }

                .container {
                    width: 80%;
                    display: flex;
                    padding-top: 5px;

                    h3 {
                        color: #000000;
                        margin-left: auto;
                        margin-right: auto;
                    }  
                }
            }
        }
    }
}

#main {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F7F7F7;
    height: 1490px;

    #card_titre {
        padding-top: 60px;
        padding-bottom: 25px;
    }

    #main_cards {
        display: flex;
        flex-direction: column;
        
        a {
            text-decoration: none;
            color: #000000;

            .nouveau {
                position: relative;
            }

            .nouveau::before {
                content: "Nouveau";
                position: absolute;
                font-weight: 600;
                line-height: 16px;
                font-size: 14px;
                color: #008756;
                background-color: #99E2D0;
                padding-top: 8px;
                padding-bottom: 8px;
                width: 25%;
                text-align: center;
                right: 15px;
                top: 15px;
            }

            .illustr_card {
                box-shadow: 0 4px 15px rgba(0,0,0,0.1);
                transition: 0,3s;
                margin-bottom: 20px;
                
                &:hover {
                    cursor:pointer;
                    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
                    filter: brightness(110%);
                }
        
                img {
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    height: 233px;
                    object-fit: cover;
                }
            
                .container {
                    padding-top: 10px;
                    background-color: #ffffff;
                    display: flex;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    justify-content: space-between;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;

                    .description {
                        padding-left: 10px;

                        h2 {
                            padding-bottom: 3px;
                        }

                        p {
                            padding-bottom: 20px;
                        }
                    }
                    
                    .heart {
                        position: relative;

                        i {
                            padding-right: 30px;
                            font-size: 25px;
                            position: absolute;
                            right: 0px;
                        }

                        .fa-solid {
                            color: transparent;
                            background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -moz-background-clip: text;
                            opacity: 0;
                            transition: all 300ms ease-in-out;
                            
                            &:hover {
                                cursor:pointer;
                                opacity: 1;
                            }
                        }  
                    }
                }
            }
        }
    }
}

footer {
    color: #ffffff;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 200px;

    .footer_title {
        font-family: 'Shrikhand', arial, cursive;
        padding-top: 20px;
        padding-bottom: 20px;

        p {
            font-weight: 400;
            line-height: 26px;
            font-size: 18px;  
        }
    }

    .footer_part_1 {
        display: flex;
        padding-bottom: 5px;

        h3 {
            padding-left: 11px;
        }
    }

    .footer_part_1_5 {
        display: flex;
        padding-bottom: 5px;

        h3 {
            padding-left: 5px;
        }
    }

    .footer_part_2 {
        padding-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    body {
        max-width: 991px;

    }

    #fonctionnement {
        height: 300px;

        #fonctionnement_2 {
            flex-direction: row;

            a {
                .card {

                    i {
                        left: 0px;
                    }
                }
            }
        }
    }

    #main {
        height: 390px;

        #main_cards {
        flex-direction: row;
        justify-content: space-between;
        
            a {
                width: 24%;
    
                .nouveau::before {
                    content: "Nouveau";
                    position: absolute;
                    font-weight: 600;
                    line-height: 16px;
                    font-size: 14px;
                    color: #008756;
                    background-color: #99E2D0;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    width: 35%;
                    text-align: center;
                    right: 10px;
                    top: 10px;
                }

                .illustr_card {
                    width: 100%;

                    img {
                        height: 100px;
                    }

                    .container {
                        height: 70px;
                    
                        .description {

                            h2 {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                            }

                            p {
                                font-weight: 200;
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }

                        .heart {

                            i {
                                padding-top:5px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        flex-direction: row;
        height: 100px;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 0px;

        .footer_title {
            padding-top: 0px;
            padding-bottom: 0px;
            order: 4;
        }

        .footer_part_1 {

            h3 {
                padding-left: 5px;
                padding-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {
    body {
        max-width: 1400px;

    }

    #fonctionnement {
        height: 300px;

        #fonctionnement_2 {
            flex-direction: row;

            a {
                .card {

                    i {
                        left: 0px;
                    }
                }
            }
        }
    }

    #main {
        height: 390px;

        #main_cards {
        flex-direction: row;
        justify-content: space-between;
        
            a {
                width: 24%;

                .nouveau::before {
                    content: "Nouveau";
                    position: absolute;
                    font-weight: 600;
                    line-height: 16px;
                    font-size: 14px;
                    color: #008756;
                    background-color: #99E2D0;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    width: 35%;
                    text-align: center;
                    right: 10px;
                    top: 10px;
                }

                .illustr_card {
                    width: 100%;

                    img {
                        height: 100px;
                    }

                    .container {
                        height: 70px;
                    
                        .description {

                            h2 {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                            }

                            p {
                                font-weight: 200;
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }

                        .heart {

                            i {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        flex-direction: row;
        height: 100px;
        align-items: center;
        padding-left: 0px;
        justify-content: flex-end;

        .footer_title {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 130px;
            padding-left: 100px;
            order: 4;
        }

        .footer_part_1 {

            h3 {
                padding-left: 5px;
                padding-bottom: 0px;
            }
        }

        .footer_part_1_5 {
            padding-left: 40px;
        }

        .footer_part_2 {
            padding-left: 40px;
        }
    }
}