h1, h2, h3, h4, h5, div, ul, li, section, header, form, body, article, footer, nav, a, p, i, input, img {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

h5 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

body {
    max-width: 767px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', arial, sans-serif;
}

#bloc_logo {
    display: flex;
    width: 100%;
    height: 63px;
    background-color: #ffffff;
    font-family: 'Shrikhand', arial, cursive;

    h1 {
    font-weight: 400;
    line-height: 43,74px;
    font-size: 30px;
    margin: auto;
    }
}

#recherche {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.2);

    #recherche_1 {
        display: flex;

        i {
            width: 12px;
            height: 16px;
        }

        form {
            padding-left:10px;
            
            input {
                height: 19px;
                background-color: #EAEAEA;
                border: none;
                outline: none;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

#header_fin {
    background-color: #F7F7F7;
    width: 100%;
    height: 300px;

    .titre_header {
        margin-left: auto;
        margin-right: auto;
        padding-top: 39px;
        width: 60%;

        h1 {
        text-align: center;
        }
    }

    .texte_header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;

        h5 {
        text-align: center;
        color: #353535;
        }
    }

    a {
        text-decoration: none;
        
        .btn_violet_gros {
            width: 55%;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 27px;
            height: 50px;
            background-image: linear-gradient(to bottom right, #FF79DA,#9356DC);
            border-radius: 25px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.25);
            transition: 0,3s;

            &:hover {
                box-shadow: 0 8px 20px rgba(0,0,0,0.25);
            }

            h3 {
                text-align: center;
                color: #ffffff;
                width: 100%;
            }
        }
    }
    

}

#fonctionnement {
    width: 100%;
    height: 550px;

    #fonctionnement_1 {
        padding-top: 48px;
        padding-left: 20px;
        padding-bottom: 30px;
    }

    #fonctionnement_2 {
        width: 100%;
        display:flex;
        align-items:center;
        margin-right:auto;
        margin-left:auto;
        flex-direction: column;

        a {
            text-decoration: none;
            display: flex;
            width: 100%;
            margin-bottom: 30px;
            
            .card {
                width: 90%;
                display: flex;
                background-color: #F7F7F7;
                padding: 35px 0px 35px 0px;
                margin-right:auto;
                margin-left:auto;
                border-radius:20px;
                box-shadow: 0 4px 15px rgba(0,0,0,0.15);
                transition: 0,3s;

                &:hover {
                    box-shadow: 0 8px 30px rgba(0,0,0,0.15);

                    i {
                        color: #9356DC;
                    }
                }
                
                p {
                    position: relative;
                    right: 10px;
                    background-color: #9356DC;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 14,1818px;
                    line-height: 17px;
                    padding: 5px 8px 5px 8px;
                    border-radius:20px;
                }

                i {
                    color: #7E7E7E;
                    position: relative;
                    left:10px;
                    padding-top: 5px;
                }

                .container {
                    width: 80%;
                    display: flex;
                    padding-top:5px;

                    h3 {
                        color: #000000;
                        margin-left: auto;
                        margin-right: auto;
                    }  
                }
            }
        }
    }
}

#main {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F7F7F7;
    height: 1490px;

    #cards_titre {
        padding-top: 60px;
        padding-bottom: 25px;
    }

    #main_cards {
        display: flex;
        flex-direction: column;
        
        a {
            text-decoration: none;
            color: #000000;

            .illustr_card {
                box-shadow: 0 4px 15px rgba(0,0,0,0.1);
                transition: 0,3s;
                margin-bottom: 20px;

                &:hover {
                    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
                }

                img {
                    width:100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    height: 233px;
                    object-fit: cover;
                }

                .container {
                    padding-top: 10px;
                    background-color: #ffffff;
                    display: flex;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    justify-content: space-between;

                    .description {
                        padding-left: 10px;

                        h2 {
                            padding-bottom: 3px;
                        }

                        p {
                            padding-bottom: 20px;
                        }
                    }
                    
                    .heart {

                        i {
                            padding-right:30px;
                            font-size: 25px;
                            border: #000000;

                            &:hover {
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    color: #ffffff;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    .footer_title {
        font-family: 'Shrikhand', arial, cursive;
        padding-top: 20px;
        padding-bottom: 20px;

        p {
            font-weight: 400;
            line-height: 26,24px;
            font-size: 18px;  
        }
    }

    .footer_part_1 {
        display: flex;
        padding-bottom: 5px;

        h3 {
            padding-left: 5px;

            &:first-child {
                padding-left: 15px;
            }
        }
    }

    .footer_part_2 {
        padding-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }
}