h1, h2, h3, h4, div, ul, li, section, header, form, body, article, footer, nav, a, p, i, img {
    margin: 0;
    padding: 0;
}


#bloc_logo {
    display: flex;
    width: 100%;
    height: 63px;
    border: 1px dotted black;
    background-color: #ffffff;
    img {
    width: 162px;
    margin: auto;
    }
}

#recherche {
    display: flex;
    width: 100%;
    height: 50px;
    background-color:#EAEAEA;
    form {
        width: 100%;
    }
    p {
        display: flex;
        width: 100%;
    }
    i {
        width: 12px;
        height: 16px;
        padding-top:25px;
    }
    input {
        width: 40%;
        height:19px;
        background-color: #EAEAEA;;
    }
    #bloc_loca_search {
        margin: auto;
    }

}
