h1, h2, h3, h4, div, ul, li, section, header, body, article, footer, nav, a, p, i, img {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 767px) {
  #bloc_logo {
    display: flex;
    width: 100%;
    height: 63px;
    border: 1px dotted black;
    background-color: #ffffff; }
  #bloc_logo img {
    width: 162px;
    margin: auto; } }
